section.c-rsvp#rsvp
  .c-rsvp-panels
    .c-rsvp-panel.left
    .c-rsvp-panel.right
      .c-rsvp-title RSVP
      .c-rsvp-subtitle Comunicaci se ci sarai!
      .c-rsvp-text Saremo felicissimi di festeggiare insieme a te il Nostro Giorno Speciale! Dai conferma il prima possibile, ci renderai piu' facile l'organizzazione dei preparativi!
      .c-rsvp-text Per chiedere informazioni o comunicarci eventuali allergie/intolleranze puoi scriverci qui:
        ul
          li Eleonora: <a href='mailto:ele.menduni@gmail.com'>ele.menduni@gmail.com</a>
          li Carmine: <a href='mailto:prinecato@gmail.com'>prinecato@gmail.com</a> 
          li o comunicarcelo telefonicamente.

  .c-rsvp-embed.
    <div class="typeform-widget" data-url="https://alessandromenduni.typeform.com/to/iiJAqW" data-transparency="94" style="width: 100%; height: 350px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

